@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway&display=swap');
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 200;
}
* {
    margin: 0;
    padding: 0;
}
a:link{
    color: white;
}
a:visited{
    color: #3DED97;
}
header{
    background-image: url("wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700372680.jpg");
    text-align: center;
    padding: 100px;
}
nav a{
    float: left;
    width: 25%;
    font-size: 20px;
}
#header_text{
    color: white;
    text-align: left;
    padding: 70px;
    padding-bottom: 0;
    font-family: 'Cookie', cursive;
}
#about{
    background: radial-gradient(circle at 50.1% 49.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
   /*background-color: #232023;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}


#placeholder_text{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    
    
}
span{
    color: #3DED97;
}   
#skills{
    background-color: #0C0404;
    color: white;
    text-align: center;  
    padding: 20px;
}
figure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding: 50px;
    position: relative;


}

figure #icon2{
    padding-top: 5px;
}
figure #icon2 figcaption{
    padding-top: 10px;
}
footer{
    background-color: #171717;
    text-align: center;
    color: white;
    padding: 50px;
}